<!DOCTYPE html>
<html>
  <head>
    <title>CampusEats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "店舗一覧", shops_path %></li>

          <% if user_signed_in? %>
            <!-- ログインしている場合 -->
            <li><%= link_to "マイページ", user_path(current_user) %></li>
            <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
          <% else %>
            <!-- ログインしていない場合 -->
            <li><%= link_to "ログイン", login_path %></li>
            <li><%= link_to "新規登録", new_user_path %></li>
          <% end %>
          
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
